<div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Deleted</strong> Successfull ! ☺.
  <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<table class="table mx-4 my-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resto of collection">
      <td>{{resto.id}}</td>
      <td>{{resto.name}}</td>
      <td>{{resto.address}}</td>
      <td>{{resto.email }}</td>
      <td><a routerLink="/update/{{resto.id}}"><i class="fa fa-edit pointer" style="font-size:28px;color:rgb(55, 0, 255)">
        </i></a>
     
        &nbsp; &nbsp;<i (click)="deleteResto(resto.id)" class="fa fa-trash-o pointer" style="font-size:28px;color:red"></i>

      </td>
 

      </tr>
    </tbody>
  </table>